<%- include('../includes/scripts2.ejs') %>

    <body class="cbp-spmenu-push">
        <div class="main-content">
            <%- include('../includes/head2.ejs') %>
                <!-- main content start-->
                <div id="page-wrapper">
                    <div class="main-page">
                        <div class="tables">
                            <h2 class="title1">Tables</h2>
                            <div class="table-responsive bs-example widget-shadow">
                                <h4>Responsive Table:</h4>
                                <% if (prods.length > 0) { %>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Title</th>
                                                    <th>Author Name</th>
                                                    <th>Price</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let product of prods) { %>
                                                <tr>
                                                    <td>
                                                        <%= product._id %>
                                                    </td>
                                                    <td>
                                                        <%= product.title %>
                                                    </td>
                                                    <td>
                                                        <%= product.author %>
                                                    </td>
                                                    <td>
                                                        <%= product.price %>
                                                    </td>
                                                    <td>
                                                        <%= product.description.substring(0,64) %>
                                                    </td>
                                                    <td>
                                                        <%= product.imgUrl.substring(0,64) %>
                                                    </td>
                                                    <td>
                                                        <a href='/products/<%= product._id %>' title='View Record' data-toggle='tooltip'>
                                                            <span class='glyphicon glyphicon-eye-open'></span>
                                                        </a>
                                                        <br>
                                                        <a href='/admin/edit-product/<%= product._id %>?edit=true' title='Update Record' data-toggle='tooltip'>
                                                            <span class='glyphicon glyphicon-pencil'></span>
                                                        </a>
                                                        <br>
                                                        <a href='/admin/delete-product/<%= product._id %>?delete=true' title='Delete Record' data-toggle='tooltip'>
                                                            <span class='glyphicon glyphicon-trash'></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                    <% } else{ %>
                                        <p class='lead'><em>No records were found.</em></p>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <%- include('../includes/end.ejs') %>
    </body>

    </html>