<%- include('../includes/head.ejs') %>

    <div id="main">
        <div class="inner">
            <h1>My Orders</h1>
            <% if (orders.length <= 0) { %>
                <div class="centered">
                    <h1>No Orders!</h1>
                </div>
                <% } else { %>
                    <ul class="orders">
                        <% orders.forEach(order => { %>
                            <li class="orders__item">
                                <h1>Order - #
                                    <%= order._id %>
                                </h1>
                                <ul class="orders__products">
                                    <% order.products.forEach(p => { %>
                                        <li class="orders__products-item">
                                            <%= p.product.title %> (
                                                <%= p.quantity %>)</li>
                                        <% }); %>
                                </ul>
                            </li>
                            <% }); %>
                    </ul>
                    <% } %>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <%- include('../includes/footer.ejs') %>
        </div>
    </footer>

    </div>

    <!-- Scripts -->
    <%- include('../includes/scripts.ejs') %>

        </body>

        </html>