<!DOCTYPE HTML>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <%- include('header'); -%>

            <!-- Menu -->
            <%- include('menu'); -%>

                <!-- Main -->
                <div id="main">
                    <div class="inner">
                        <h1>Lorem ipsum dolor sit amet <span class="pull-right"><del>$99.00</del> $79.00</span></h1>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="images/product-1-720x480.jpg" class="img-fluid" alt="">
                                </div>

                                <div class="col-md-7">
                                    <p> Quas qui, repellendus ullam, quam possimus ducimus earum!</p>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, iste neque, ut recusandae quibusdam perferendis qui modi aliquam quaerat molestiae.</p>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="control-label">Extra 1</label>

                                            <div class="form-group">
                                                <select>
								                      	<option value="0">Extra 1</option>
								                      	<option value="1">Extra 2</option>
								                      	<option value="2">Extra 3</option>
								                    </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-8">
                                            <label class="control-label">Quantity</label>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input type="text" name="name" id="name">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <input type="submit" class="primary" value="Add to Cart">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <br>

                        <div class="container-fluid">
                            <h2 class="h2">Similar Products</h2>

                            <!-- Products -->
                            <%- include('featured'); -%>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <%- include('footer'); -%>

    </div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>