<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>View Record</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <style type="text/css">
        .wrapper {
            width: 650px;
            margin: 0 auto;
        }
        
        .page-header h2 {
            margin-top: 0;
        }
        
        table tr td:last-child a {
            margin-right: 15px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>

<body>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header clearfix">
                        <h2 class="pull-left">Users Details</h2>
                        <a href="/users/add-user" class="btn btn-success pull-right">Add New User</a>
                    </div>

                    <% if (db_rows_array.length >0){ %>
                        <table class='table table-bordered table-striped'>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th> Name</th>
                                    <th> Password</th>
                                    <th>Address</th>
                                    <th>Gender</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i< db_rows_array.length; i++){ %>
                                    <tr>
                                        <td>
                                            <%= db_rows_array[i].id %>
                                        </td>
                                        <td>
                                            <%= db_rows_array[i].name %>
                                        </td>
                                        <td>
                                            <%= db_rows_array[i].password %>
                                        </td>
                                        <td>
                                            <%= db_rows_array[i].address %>
                                        </td>
                                        <td>
                                            <%= db_rows_array[i].sex %>
                                        </td>
                                        <td>
                                            <a href='users/user/read/<%= db_rows_array[i].id %>' title='View Record' data-toggle='tooltip'>
                                                <span class='glyphicon glyphicon-eye-open'></span>
                                            </a>
                                            <a href='/users/user/edit/<%= db_rows_array[i].id %>' title='Update Record' data-toggle='tooltip'>
                                                <span class='glyphicon glyphicon-pencil'></span>
                                            </a>
                                            <a href='/users/user/delete/<%=db_rows_array[i].id %>' title='Delete Record' data-toggle='tooltip'>
                                                <span class='glyphicon glyphicon-trash'></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>

                        <% } else{ %>
                            <p class='lead'><em>No records were found.</em></p>
                            <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>